/.vscode/
/bin/seed
/build/
/coverage
/dist/*.wasm
/dist/colonio_golang.js
/dist/colonio.js
/dist/colonio.wasm
/dist/index.html
/dist/index.js
/dist/test.js
/dist/wasm_exec.js
/dist/worker.js
/keys.json
/node_modules
/src/colonio_golang.d.ts
/src/colonio.js
/src/keys.ts
