/.vscode/
/bin/seed
/build/
/cmd/node/commit_hash.txt
/cmd/seed/commit_hash.txt
/coverage
/dist/*.map
/dist/*.wasm
/dist/404.html
/dist/colonio_go.js
/dist/colonio.js
/dist/container.js
/dist/controller.js
/dist/error.html
/dist/oinari.js
/dist/test/*.map
/dist/test/*.wasm
/dist/test/test.js
/dist/wasm_exec.js
/docs/.hugo_build.lock
/docs/resources/_gen/
/localhost.crt
/localhost.key
/node_modules
/secrets.json
/src/colonio_go.d.ts
/src/colonio.d.ts
/src/colonio.js
/src/keys.ts